@import url(Base.css);

.lista-integrantes {
    margin: 0 5vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(69, 113, 255);
}

@media(max-width: 500px) {

    h1 {
        font-size: 3rem;
    }

    ul {
        flex-direction: column;
    }
}

.Jardim{
    align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.Pivatti{
    align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.Luiz{
    align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.Kaua{
    align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.Guilherme{
    align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}